/target/
.idea/
.vscode/
.settings
.project
.classpath

*.iml
.DS_Store

# The following files are generated/updated by vaadin-maven-plugin
node_modules/
src/main/frontend/generated/
vite.generated.ts

# The following lines should not be included in the .gitignore of a generated skeleton.
package.json
package-lock.json
tsconfig.json
types.d.ts
vite.config.ts
src/main/bundles/
